.container {
    width: calc(100vw - 90px);
    /* 100% width minus 30px padding on each side */
    height: calc(100vh - 60px);
    /* padding: 10px; */
    font-size: larger;
    background-color: #f3f3f7;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

/* .container {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;

} */