.container {
    width: calc(100vw - 90px);
    /* 100% width minus 30px padding on each side */
    height: calc(100vh - 60px);
    /* padding: 10px; */
    font-size: larger;
    background-color: #f3f3f7;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
}

/* .container {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;

} */