.container {
    margin-top: 250px;
    width: 100vw;
    /* 100% width minus 30px padding on each side */
    height: calc(100vh - 60px);
    /* padding: 10px; */
    font-size: larger;
    /* background-color: #ddff55; */
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    /* overflow: scroll; */
}


.grid-container {
    padding-top: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    /* padding-left: 200%; */
    /* justify-content: flex-end; */
    justify-items: center;
    /* margin-left: 20%; */
    margin-top: 20px;
    /* overflow: scroll; */
}

.error {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* .container {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;

} */