.search-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
    width: 100%;
    height: 60px;
    /* Adjust the height as needed */
    /* background-color: #f5f5f5; */
    /* Bone white color */
    /* position: fixed; */
    top: 30px;
    /* Height of the TopBar */
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    border-radius: 1rem;
    outline: none;
    border: 1px solid #ccc;
    width: 40%;
    height: 40px;
    /* Adjust the height as needed */
    padding-left: 1%;
    box-sizing: border-box;
    transition: width 0.3s ease;
    /* Smooth width transition */
}

.sort-dropdown {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    cursor: pointer;
    transition: border-color 0.2s, box-shadow 0.2s;
    font-size: 14px;
    margin-left: 10px;
}

.sort-dropdown:hover {
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.7);
}

.sort-dropdown:focus {
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.7);
}