.TopBar {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    /* Apply blur effect */
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
    /* Smooth background transition */
}


.navigation {
    width: 100%;
    background: rgba(49, 129, 110, 0.9);
    /* Use rgba for transparency */
    border-radius: 10px;
}

img {
    width: 25px;
    border-radius: 20px;
    float: left;
}

.logout {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
    position: relative;
    right: -18px;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;

}

.button {
    text-decoration: none;
    float: right;
    padding: 12px;
    margin: 15px;
    color: white;
    width: 25px;
    /* background: rgba(11, 108, 86, 0.9); */
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden
}

a:hover {
    width: 100px;
}

a:hover .logout {
    opacity: .9;
}

a {
    text-decoration: none;
}