/* Book.css */
.book-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    /* Adjust the width as needed */
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    scale: 90%;
}

.book-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.book-cover img {
    height: 250px;
    width: 200px;
    /* Adjust the max height for the book cover image */
    object-fit: fill;

    /* align-items: center; */
    margin-bottom: 10px;
}

.book-info {
    text-align: center;
}

.book-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.book-author {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
}

.book-publish-date {
    font-size: 0.9rem;
    color: #888;
}